

<div class="p-6 m-5 max-w-sm mx-0 bg-white rounded-xl shadow-lg flex space-x-4">
  <div>
    <div class="text-xl font-medium text-black"><%= link_to product.title, product %></div>
    <p class="text-slate-500"><%= product.short_text %></p>
  </div>
</div>